@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  
  background-color: #000000;
  height: 100vh;
}

.clock{
  text-align: center;
  background: black;
  font-size: 50px;
  font-family: 'Electrolize', sans-serif;;
}

.btn-panel{
  text-align: center;
  background: black;
}

.btn-panel {
  width: 95px;
  height: 43px;
  background: rgb(12, 11, 11);
  color: white;
  border-radius: 10px;
  margin-left: 1rem;
  font-size: 23px;
  border-width: 3px;
}

